<h1>
    welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!!
</h1>
<p>In <i class="fas fa-book"></i><strong>Bookers,</strong></p>
<p>you can share and exchange your opinions, impressions, and emotions</p>
<p>about various books!</p>

<%= link to 'Log in', user_session_path %>
<%= link_to 'Sign up', user_registration_path %>